@font-face {
  font-family: DePixelKlein;
  src: url("../resources/fonts/DePixelKlein.ttf");
}
@font-face {
  font-family: DePixelHalbfett;
  src: url("../resources/fonts/DePixelHalbfett.ttf");
}
.body {
  font-family: DePixelHalbfett;
  font-size: 10px;
  margin: 0;
  padding: 0;
  background-color: #5bb1ee;
}

.taskbar {
  display: flex;
  justify-content: space-between;
  padding: 2px 20px;
  background-color: white;
  border-bottom: 1px solid black;
}
.taskbar__container {
  display: flex;
  align-items: center;
}
.taskbar__list {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
.taskbar__list__item {
  margin-right: 20px;
}
.taskbar__list__item__logo {
  width: 16px;
}
.taskbar__time {
  margin: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown__content {
  display: block;
}
.dropdown__button {
  font-family: DePixelHalbfett;
  background-color: white;
  font-size: 10px;
  border: none;
  padding: 0;
}
.dropdown__content {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  z-index: 1;
}
.dropdown__content__item {
  display: block;
  margin: 0px;
  padding: 2px 4px;
}
.dropdown__content__item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
